.Image{
	display: block;
	border: solid 0px red;
	position: relative;
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}

::-webkit-scrollbar { 
    display: none; 
}

@media screen and (min-width: 502px)
{
	

.content{
	position: relative; width: 80%; height: 50%;  left: 10%; border: solid 0px red; overflow: scroll;
}

.special{
	font-weight: bolder; font-size: 1.2em;
}

.Imageab{

	height: 50%; width: 80%; left: 10%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	background-image: url("about.jpg");
}
#dn{
	display: none;
}


}
@media (max-width: 501px) and (orientation:portrait){

.content{
	position: relative; width: 100%; height: 60%;  left: 0%; border: solid 0px red; overflow: scroll;
}

.special{
	font-weight: bolder; font-size: 1.2em;
}

.Imageab{
	height: 35%; width: 100%; left: 0%;
	display: block;
	background-repeat: no-repeat;
	background-size: 150% 100%;
	background-image: url("about.jpg");	
	background-position: center;
}

#dn{
	z-index: 50;
	display: block;
	position: fixed;
	bottom: 50px;
	right: 5px;
	height: 30px;
	width: 25px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


}