a:link {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

a:visited {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

a:hover {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

a:active {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}