body {
	background-color: #888;
}

@media screen and (min-width: 502px){
.spil{
	display: none;
}
.images{
	display: block;
	border: solid 0px red;
	position: absolute;
	width: 50%;
	height: 50%;
	text-align: center;
	background-position: center;
	background-color: #ffeed2;
	background-repeat: no-repeat;
	background-size: 325px 280px;
}

.block{
	display: block;
	border: solid 0px red;
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: rgba(255, 255, 255, 1);	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.block p{
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -60%);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#dn{
	display: block;
}
}

@media screen and (max-width: 502px) and (orientation:portrait) {
		
.spil{
	display: block;
}
.images{
	display: block;
	border: solid 0px red;
	position: relative;
	width: 100%;
	min-height: 50%;
	text-align: center;
	background-position: center;
	background-color: #ffeed2;
	background-repeat: no-repeat;
	background-size: 325px 280px;
}		


.block{
	display: block;
	border: solid 0px red;
	position: relative;
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 1);	

	text-align: left;
}

.block p{
	font-size: 0.8em;
    position: relative;                                   
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
}

#dn{
	z-index: 50;
	display: block;
	position: fixed;
	bottom: 50px;
	right: 5px;
	height: 30px;
	width: 25px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

}